# compiled output
/easy-sc-frontend/dist
/easy-sc-frontend/tmp
/easy-sc-frontend/out-tsc

# dependencies
/easy-sc-frontend/node_modules

# IDEs and editors
/.idea
.project
.classpath
.c9/
*.launch
.settings/
*.sublime-workspace

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json

# misc
/.sass-cache
/connect.lock
/coverage
/libpeerconnection.log
npm-debug.log
testem.log
/typings

# e2e
/easy-sc-frontend/e2e/*.js
/easy-sc-frontend/e2e/*.map

# System Files
.DS_Store
Thumbs.db
